<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SinaWeibo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EB7E1081CC0F94B000CC87C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB7E11C1CC0F94B000CC87C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB7E1271CC0F94B000CC87C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
